<div class="d-flex justify-content-center">
    <img src="/src/assets/Nimble.png" alt="" width="250px">
</div>
<h1 class="headline text-center mb-0 fw-bolder mt-2">Nimble.js</h1>
<h2 class="tagline text-center text-secondary">Effortless Performance, Endless Possibilities</h2>
<hr>
<p class="text-secondary"> Nimble.js takes the complexity out of web development, ensuring lightning-fast performance
    without compromising
    your creative freedom. Join us in simplifying the art of web development, one line of code at a time.</p>

<div class="row shadow p-4">
    <div class="col-4">
        <h3 class="h5 fw-bold">Streamlined Web Development</h3>
        <p class="ms-3 text-secondary">Nimble.js streamlines web development with a developer-centric approach,
            simplifying the learning curve for
            webpack environments.</p>
    </div>
    <div class="col-4">
        <h3 class="h5 fw-bold">Lightning-Fast Performance</h3>
        <p class="ms-3 text-secondary">Experience lightning-fast performance as Nimble.js seamlessly integrates into
            your
            code with familiar OOP
            concepts, all while maintaining a size less than 5MB.</p>
    </div>
    <div class="col-4">
        <h3 class="h5 fw-bold">Effortless HTML Capture</h3>
        <p class="ms-3 text-secondary">Capture HTML effortlessly from standalone files or inline styles, giving you
            complete control over your web
            projects.</p>
    </div>
    <div class="col-4">
        <h3 class="h5 fw-bold">Styling Made Easy</h3>
        <p class="ms-3 text-secondary">Style your web applications with ease using Nimble.js, supporting CSS, SCSS, and
            SASS integration in multiple
            formats.</p>
    </div>
    <div class="col-4">
        <h3 class="h5 fw-bold">Robust SPA Framework</h3>
        <p class="ms-3 text-secondary">Nimble.js offers a robust Single-Page Application framework, optimized for
            performance and memory, without
            the overhead of a shadow DOM.</p>
    </div>
    <div class="col-4">
        <h3 class="h5 fw-bold">Simplicity Meets Innovation</h3>
        <p class="ms-3 text-secondary">Unlock your creativity and productivity with Nimble.js, where simplicity meets
            innovation for web
            development.</p>
    </div>
</div>

<p class="mt-5 text-secondary">At Nimble.js, we practice what we preach. That's why both our website and all of its
    accompanying documentation are meticulously crafted
    using Nimble.js.
</p>
<p class="text-secondary">
    By using Nimble.js to develop our own web presence, we showcase its power, versatility, and unmatched
    developer-friendliness. Every line of code, every design element, and every feature you see here serves as a
    testament to the framework's capabilities. We believe that the best way to demonstrate the potential of Nimble.js is
    by using it ourselves, ensuring that you experience firsthand the seamless synergy of speed and simplicity it
    offers.
</p>
<p class="text-secondary">
    As you explore our website and delve into our comprehensive documentation, you'll not only find valuable insights
    into Nimble.js but also witness its efficiency and effectiveness in action.</p>


<h2 class="tagline text-center ">Ready to learn more?
</h2>
<div class="d-flex justify-content-center">
    <a class="link" (href)="/docs">Check out the documentation</a>
</div>
<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button> -->